<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>My Material</span>
    <span class="example-spacer"></span>

    <button mat-button>About</button>
    <button mat-button>Services</button>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <mat-form-field>
    <input matInput [(ngModel)]="answer" placeholder="Qui est-tu ?">
  </mat-form-field>

  <button mat-raised-button (click)="showAnswer()">Answer me</button>
  <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
</mat-card>

<mat-card *ngIf="answerDisplay">
  <h1>{{ answerDisplay }}, vous vous appelez !</h1>
</mat-card>
